.mainContestEnded{
    height: 100vh;
    overflow: auto;
    background: #fafafa;
}
.contestEnded{
    margin-top: 70px;
    /* vertical-align: middle; */
}
.contestEnded .header{
    border-bottom: 1px dashed rgb(199, 198, 198);
    color: rgb(52,58,64);
}
.contestEnded .yourScore{
    font-weight: 500;
    color: rgb(52,58,64);
    /* opacity: 0.9; */
    /* color: teal; */
}
.contestEnded .table-responsive-lg{
    height: 63vh;
    overflow: auto;
    margin-top: 20px;
    /* border: 1px solid gainsboro; */
}
.contestEnded .tableHead{
    font-size: 1.1rem;
    /* background: rgb(52,58,64); */
    background: teal;
    font-weight: 400;
    color: white;
}
.contestEnded tbody{
    color: rgb(52,58,64);
}

